{% extends "layout.html" %}

{% block title %}
    About C$50 Finance
{% endblock %}

{% block main %}
    <h1>About C$50 Finance</h1>
    <p>This web application is a project completed as part of CS50's Introduction to Computer Science course. It allows users to manage a virtual stock portfolio, providing features such as buying and selling stocks, viewing transaction history, and getting stock quotes.</p>
    <p>This project was initially provided as Problem Set 9 (pset9) in the course, and this version has been partially completed by the course and extended by me. It's now deployed and available for use.</p>
    <p>If you're interested in learning more about exploring the source code of this project, you can find more information on the <a href="https://github.com/thesupersaurabh/CS50/tree/main/Finance">My Github repo</a>.</p>
{% endblock %}
