{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title">Quoted</h1>
                    <div class="mb-3">
                        <h4 class="mb-1">Name:</h4>
                        <p>{{ name }}</p>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-1">Price:</h4>
                        <p>{{ price }}</p>
                    </div>
                    <div class="mb-3">
                        <h4 class="mb-1">Symbol:</h4>
                        <p>{{ symbol }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
